body {
	background-color: #8484e1;
	font-family: monospace;
	text-align: center;
}
#dir {
	text-align: justify;
	font-size: 17px;
}
input {
	width: 100px;
	margin: 5px;
}
button {
	width: 28px;
	margin: 3px;
	border-radius: 10%;	
}
#res {
	text-align: center;
	margin: 5px;
}